.App{
  height:100%;
  width: 100%;
border-radius: 5px solid black;
  display: flex;

  justify-content:space-evenly;

}
.bucket-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}

.bucket-list h2 {
  margin-bottom: 16px;
}

.bucket-name {
  padding: 8px;
  margin-right: 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

/* modaljs css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .modal iframe {
  width: 80%;
  height: 80%;
  }
  
  .modal .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  }
  
  